<table>
    <thead>
      <th>Number</th>
      <th>Username</th>
      <th>Role</th>
      <th>Address</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
  
        <td>{{employee.id}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.role}}</td>
        <td>{{employee.address}}</td>
        <td>
            <button (click)="delete(employee.id)">Delete</button>
        </td>
        <td>
            <button (click)="update(employee.id)">Modify</button>
        </td>

      </tr>
    </tbody>
  </table>